<div class="section-contact">
    <div class="container">
      <div class="chalkboard-frame">
        <h2 id="contact-tom">
          <span class="chalk-effect">
            <span role="presentation">≕</span>
            <span>CONTACT</span>
            <span role="presentation">≔</span>
          </span>
        </h2>
        <p class="chalk-effect">
          Hi. Here is where I say something pithy inviting people to contact me by the form or my email or phone.
          <img class="signature" src="./assets/images/signature.png" alt="Tom">
        </p>
        <div class="section-contact__content">
          <form class="section-contact__form" id="contactForm" method="post" action="https://www.mydomain.com/scripts/formemail.bml" novalidate="">
            <div class="form-field">
              <label class="form-field__label" for="contact-name">Your name</label>
              <input class="form-field__control" id="contact-name" type="text" name="name">
            </div>
            <div class="form-field">
              <label class="form-field__label" for="contact-email">Your email</label>
              <input class="form-field__control" id="contact-email" type="email" name="email">
            </div>
            <div class="form-field">
              <label class="form-field__label" for="contact-message">How can I help?</label>
              <textarea class="form-field__control" id="contact-message" type="text" name="message" rows="6"></textarea>
            </div>
            <input class="sr-only" type="text" name="subject" tabindex="-1" autocomplete="off">
            <div class="form-buttons">
              <button class="button--primary" type="submit">Send</button>
            </div>
          </form>
  
          <div class="section-contact__other">
            <div>
              <p>
                <a href="emailTom" aria-label="tom at tom nunes dot com">
                  <span class="obfuscatedContact chalk-effect" aria-hidden="true">
                    <span>ks@jd</span><span>tom</span><span>s$yej</span><span>@</span><span>#sld*g</span><span>tomnunes</span><span>isy^ggs</span><span>.</span><span>gda85w@</span><span>com</span><span>os(hshs)</span>
                  </span>
                </a>
              </p>
  
              <p>
                <a href="phoneTom" aria-label="eight six zero five seven three six four one nine">
                  <span class="obfuscatedContact chalk-effect" aria-hidden="true">
                    <span>ks@jd</span><span>860</span><span>s$yej</span><span>-</span><span>#sld*g</span><span>573</span><span>isy^ggs</span><span>-</span><span>gda85w@</span><span>6419</span><span>os(hshs)</span>
                  </span>
                </a>
              </p>
            </div>
            <div class="section-contact__logo-frame">
              <div class="section-contact__logo">
                <img src="../assets/images/tnvo-logo.svg" alt="chalk drawing of my logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>