<div class="section-contact">
  <div class="container">
    <h2 class="section-contact__header" id="contact-tom">
      <span>CONTACT</span>
    </h2>
    <div class="section-contact__content">
      <div class="section-contact__welcome">
        <div class="profile-pic">
          <img src="assets/images/profile-pic.jpg" alt="Tom's smiling mug" />
        </div>
        <p>
          Hi. Thanks for dropping by. Let me know how I can help. I look forward to working with you.
          <span class="signature-span">&mdash; <img class="signature" src="./assets/images/signature.png"
              alt="Tom"></span>
        </p>
      </div>
      <div class="section-contact__methods">
        <form class="section-contact__form" id="contactForm" method="post"
          action="https://www.mydomain.com/scripts/formemail.bml" novalidate="">
          <div class="form-field">
            <label class="form-field__label" for="contact-name">Your name</label>
            <input class="form-field__control" id="contact-name" type="text" name="name">
          </div>
          <div class="form-field">
            <label class="form-field__label" for="contact-email">Your email</label>
            <input class="form-field__control" id="contact-email" type="email" name="email">
          </div>
          <div class="form-field">
            <label class="form-field__label" for="contact-message">How can I help?</label>
            <textarea class="form-field__control" id="contact-message" type="text" name="message" rows="6"></textarea>
          </div>
          <input class="sr-only" type="text" name="subject" tabindex="-1" autocomplete="off">
          <div class="form-buttons">
            <button class="form-button" type="submit">Send</button>
          </div>
        </form>

        <div class="section-contact__other">
          <h3><nobr>Or, connect with me directly</nobr></h3>
          <div>
            <p>
              <a href="emailTom" aria-label="<%= emailLabel %>">
                <span class="obfuscatedContact" aria-hidden="true">
                  <%- obfuscatedEmail %>
                </span>
              </a>
              <a href="phoneTom" aria-label="<%= phoneLabel %>">
                <span class="obfuscatedContact" aria-hidden="true">
                  <%- obfuscatedPhone %>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>