<div class="section-intro" id="home">
  <div class="section-intro__content">
    <h1 class="sr-only">Tom Nunes Voiceover</h1>
    <p class="section-intro__tagline container">Smooth and balanced, <nobr>earthy yet sweet,</nobr>
      <nobr>with a hint of nuttiness</nobr>
    </p>  
  </div>
</div>