<div class="section-intro" id="home">
  <div class="section-intro__content">
    <h1 class="section-intro__title">
      <div>Savor the sound of</div>
      <img src="assets/images/tnvo-coffee-logo.png" alt="Tom Nunes Voiceover">
    </h1>
    <div class="section-intro__hero-image"></div>
    <p class="section-intro__tagline container">Smooth and balanced, <nobr>earthy yet sweet,</nobr>
      <nobr>with a hint of nuttiness</nobr>
    </p>  
  </div>
</div>