<div class="section-intro">
  <div class="container">
    <div class="section-intro__content">
      <h1 class="section-intro__title">
        <div>Savor the sound of</div>
        <img src="assets/images/tnvo-coffee-logo.png" alt="Tom Nunes Voiceover">
      </h1>
      <p class="section-intro__tagline">Smooth and balanced, <nobr>with earthy tones and</nobr>
        <nobr>a subtle nuttiness</nobr>
      </p>
    </div>
  </div>
</div>