<div class="section-about" id="about">
  <div class="container">
    <div class="section-heading">
      <h2>
        <div>Tom Nunes</div>
        <div class="section-sub-heading">Professional Male Voice Artist</div>
      </h2>
    </div>
    <p>
      <em>Light and mellow. Smooth and balanced. Bold and intense.</em> Whatever your taste, Tom delivers the voiceover
      you needed to carry your message. Tom has a versatile voice that can be <strong>warm and friendly</strong>
      or <strong>intense and deliberate</strong>, but always genuine. Drawing from his 30 years of eclectic professional
      experiences, Tom produces an <strong>authoritative yet approachable</strong> vocal blend suitable for
      <strong>commercials, eLearning, corporate narration, explainer videos and tutorials</strong>.
    </p>
    <p>
      From his home studio in the Greater Hartford Area, Tom produces high-quality audio in all
      major formats with fast turnaround. He can connect over ipDTL or Skype for directed sessions, and is an easy
      commute to NYC or Boston for studio sessions.
    </p>
    <p>
      As many before you, you will appreciate Tom for his professionalism and good nature. You can trust him to
      treat your project with the importance you expect and to partner with you to deliver quality results in a
      timely manner. You can also trust Tom to be a pleasure to work with and count on him for a few laughs &mdash;
      like enjoying coffee with a friend.
    </p>
    <p>
      Ready to savor the sound? Then <a href="#contact-tom"><strong>let's get brewing!</strong></a>
    </p>
  </div>
</div>