<div class="section-about" id="about">
  <div class="container">
    <div class="section-heading">
      <h2>
        <div>Tom Nunes</div>
        <div class="section-sub-heading">Professional Voice Actor</div>
      </h2>
    </div>
    <p>
      <em>Light and mellow, smooth and balanced, bold and intense.</em> 
    </p>
    <p>  
      Whatever your taste, Tom has 
      the vocal blend to carry your message. Drawing from his 30 years of professional
      experiences, Tom produces an <strong>authoritative yet approachable</strong> voiceover suitable
      for <strong>commercials, eLearning, corporate narration, explainer videos and tutorials</strong>.
    </p>
    <p>
      From his studio in the Greater Hartford Area, Tom produces production quality audio in all
      major formats with fast turnaround. He can <strong>connect remotely for directed sessions over 
      Source-Connect, ipDTL, bodalgoCall, Skype</strong> or any web-based 
      communication platform. And he can easily commute to NYC or Boston for studio sessions.
    </p>
    <p>
      As many before you, you will appreciate Tom for his professionalism and attention to detail. 
      You can trust him to treat your project with the importance you expect and to partner with you to deliver quality 
      results in a timely manner. And Tom is a pleasure to work with, so you can also count on him for a few laughs &mdash; 
      like enjoying coffee with a friend.
    </p>
    <p>
      Ready to savor the sound? Then <a href="#contact"><strong>let's get brewing!</strong></a>
    </p>

    <div>
      <h3>In the Studio</h3>
      <ul class="in-the-studio-list">
        <li>Roswell Pro Audio RA-VO microphone</li>
        <li>Motu M2 Audio Interface</li>
        <li>Twisted Wave</li>
        <li>Recording space 100% enclosed with Producer's Choice Acoustic Blankets</li>
      </ul>
    </div>
  </div>
</div>