<span class="<%- socialBaseClass %>__social">
  <a href="https://www.linkedin.com/in/tomnunes/" target="_blank" aria-label="LinkedIn">
    <%- include('../assets/icons/linkedin.svg') %>
  </a>
  <a href="https://www.youtube.com/channel/UCrUXqV_ma3gq_vsRdJMGECg" target="_blank" aria-label="YouTube">
    <%- include('../assets/icons/youtube.svg') %>
  </a>
</span>

