<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header.ejs') %>
  <div id="status-message" class="status-message" role="status" aria-live="polite"></div>
  <main id="main" class="tnvo-main">
    <%- include('partials/_section-intro.ejs') %>
    <%- include('partials/_section-demo.ejs') %>
    <%- include('partials/_section-about.ejs') %>
    <%- include('partials/_contact.ejs') %>
  </main>
  <%- include('partials/_footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.core.min.js"></script>
  <script src="https://github.com/github/fetch/releases/download/v3.0.0/fetch.umd.js"></script>
  <script src="js/tnvo.min.js?cb=<%= cacheBuster %>"></script>
</body>