<!DOCTYPE html>
<htm lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta class="name">
    </meta>
    <title>
      <%= meta.title %>
    </title>
    <meta name="description" content="<%= meta.description %>">
    <link rel="canonical" href="<%= meta.url %>">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= meta.name %>">
    <meta property="og:description" content="<%= meta.descripion %>">
    <meta property="og:url" content="<%= meta.url %>">
    <meta property="og:site_name" content="<%= meta.name %>">
    <meta property="og:image" content="<%= meta.socialImage %>">
    <meta property="og:image:secure_url" content="<%= meta.url %>">
    <meta name="twitter:card" content="<%= meta.socialImageLarge %>">
    <meta name="twitter:description" content="<%= meta.descripion %>">
    <meta name="twitter:title" content="<%= meta.name %>">
    <meta name="twitter:image" content="<%= meta.socialImage %>">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Lato:300,400,400i,600" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/application.css">
    <link rel="stylesheet" href="assets/icons/style.css">
    <style>
      .show-vr-grid {
        background: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px) 0 0 / 1.5rem 1.5rem;
      }
    </style>
  </head>

  <body>
      <%- include('partials/_header.ejs') %>
    <div id="status-message" class="status-message" role="status" aria-live="polite"></div>
    <main id="main" class="tnvo-main">
      <%- include('partials/_section-intro.ejs') %>
      <%- include('partials/_section-demo.ejs') %>
      <%- include('partials/_section-about.ejs') %>
      <%- include('partials/_contact.ejs') %>
    </main>
    <%- include('partials/_footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.core.min.js"></script>
    <script src="https://github.com/github/fetch/releases/download/v3.0.0/fetch.umd.js"></script>
    <script src="js/tnvo.js"></script>
  </body>