$xs: px2em(320);
$sm: px2em(400);
$md: px2em(576);
$lg: px2em(820);

$base-font-family: 'Lato', sans-serif;
// $base-font-family: 'Nunito', sans-serif;
// $heading-font-family: 'Alegreya', serif;
// $base-font-family: 'Noto Sans', sans-serif;
// $heading-font-family: 'Fjalla One', sans-serif;
$heading-font-family: 'Nunito', sans-serif;
$coffee-label-font-family: 'Norwester', 'Arial Black', serif;

$max-container-width: px2rem(960);

$header-menu-height: 40px;


$old-dark-blue: #23354a;
$dark-blue: #00233a;
// $gold: #997d33;
$jb-gold: #a07f4e;
$jb-goldenrod: #d2a72f;
$jb-dark-teal: #253436;
$sb-dark-brown: #2e2926;
$sb-gold: #d3a049;
$chobani-white: #f4f3f0;

$maroon: #1f0905;
$maroon-light1: mix(white, $maroon, 20%);
$maroon-light2: mix(white, $maroon, 35%);
$maroon-light3: mix(white, $maroon, 55%);
$maroon-light4: mix(white, $maroon, 70%);

$brown: #805426;
$brown-dark1: mix(black, $brown, 20%);
$brown-dark2: mix(black, $brown, 40%);
$brown-dark3: mix(black, $brown, 60%);
$brown-dark4: mix(black, $brown, 80%);


$neutral: #948d85;
$gold: $sb-gold;
$charcoal-orig: #282120;
$charcoal: $sb-dark-brown;
$mocha: #6b5242;
$dk-slate-blue: #264860;
$slate-blue: #4584af;
$midnight-blue: #12354d;

// $white: mix(white, $charcoal, 97%);
$white: $chobani-white;
$base-background: $white;
$base-font-color: mix(black, $charcoal);
$heading-font-color: $dk-slate-blue;

$status-message-color: $base-font-color;
$status-message-bgcolor: $gold;

$z-index-status: 1000;
$z-index-hero: 1;
