*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

img {
  max-width: 100%;
}

a {
  color: $dk-slate-blue;

  &:visited {
    color: $mocha;
  }
}

.section-heading {
  text-align: center;
}

.section-sub-heading {
  font-size: px2rem(16);
  text-transform: uppercase;
  line-height: normal;
}