// todo background and placement when floating left
// todo: keep overlap in mobile width 

$demo-progressbar-height: 1.5rem;
$demo-player-prefix: 'demo-player';

.#{$demo-player-prefix} {
  // max-width: 20rem;
  margin-bottom: 1.5rem;
  // text-align: left;

  audio {
    display: none;
  }

  a, button {
    &:focus {
      outline: dashed 1px rgba(white, .3);
    }
  }

  &__heading {
    margin: 0;
    padding: 0 0 0 1.75rem;
    font-size: px2rem(20);
    letter-spacing: 0.06em;
    transform: none;
    text-transform: lowercase;
    color: $gold;

  }

  &__wrapper {
    margin-right: .5rem;
    position: relative;
    padding-top: 1px;
    margin-top: -1px;
  }

  &__progress {
    // flex: 1 0 auto;
    position: relative;
    height: px2rem(6);
    margin-left: 1.75rem;
    margin-top: px2rem(6);
    margin-bottom: px2rem(12);
    margin-right: $demo-progressbar-height + px2rem(10);
    background-color: #eee;
    border-radius: px2rem(3);
    overflow: hidden;
  }

  &__progressbar {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $slate-blue;
    border-radius: inherit;
    transform: translateX(-100%);
  }
  
  &__play-pause,
  &__download,
  &__download-track {
    width: $demo-progressbar-height;
    height: $demo-progressbar-height;
    border: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:focus {
      text-decoration: none;
    }
  }

  &__play-pause {
    color: white;
    font-size: 1.25rem;
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;

    &:hover,
    &:focus {
      opacity: 1;
    }

    // &:not(.pause) {
    .#{$demo-player-prefix}:not(.playing)  & {
      .pause-icon {
        display: none;
      }
    }

    // &.pause {
    .#{$demo-player-prefix}.playing  & {
      .play-icon {
        display: none;
      }
    }
  }

  &__download {
    position: absolute;
    font-size: px2rem(24);
    height: $demo-progressbar-height + px2rem(6);
    padding-bottom: px2rem(6);
    top: 0;
    right: 0;
    transform: translateY(-$demo-progressbar-height + px2rem(7));

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: px2rem(6);
      bottom: 0;
      border-radius: px2rem(3);
      background-color: $slate-blue;
    }
  }

  &__download-track {
    font-size: px2rem(12);
  }

  &__download,
  &__download-track {
    border-radius: px2rem(3);
    color: $slate-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      // color: mix(white, $slate-blue, 60%);
      background-color: rgba(white, .2);
    }
  }

  &__tracks {
    flex: 1 0 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 1.75rem;
    margin: 0;
    counter-reset: demotrack;

    > li {
      display: flex;
      align-items: baseline;
    }
  }

  &__track {
    cursor: pointer;
    display: block;
    font-family: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
    font-size: px2rem(14);
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: px2rem(40);
    margin-top: px2rem(-1);
    border: none;
    position: relative;
    padding-left: 2em;
    width: calc(100% - 1.5rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &::before {
      counter-increment: demotrack;
      content: counter(demotrack);
      font-family: sans-serif;
      float: left;
      width: 1.5em;
      margin-left: -2em;
      text-align: center;
      color: rgba(white, .5);
    }

    &:hover,
    &:focus {
      .#{$demo-player-prefix}__track-progress {
        background-color: rgba(white, .05);
      }
    }

    &:hover::before,
    &:focus::before {
      content: '\25b8';
    }

    .#{$demo-player-prefix}__track-progress {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }  
    .#{$demo-player-prefix}__track-progressbar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: translateX(-100%);
    }  

    &.playing,
    &.paused {
      .#{$demo-player-prefix}__track-progress {
        background-color: rgba(white, .1);
      }  
      .#{$demo-player-prefix}__track-progressbar {
        background-color: rgba(white, .1);
      }  
      &::before {
        color: white;
        font-weight: bold;
      }
    }
    &.playing::before {
      content: '||';
    }
}
  
  &__progress-ticks {
    position: absolute;
    top: 0;
    left: 1.75rem;
    right: $demo-progressbar-height + px2rem(10);
    height: $demo-progressbar-height;
    display: flex;

    .#{$demo-player-prefix}:not(.paused):not(.playing) & {
      display: none;
    }

  }

  &__progress-tick {
    height: 100%;
    cursor: pointer;

    &:not(:first-child) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: px2rem(8);
        height: px2rem(8);
        border-radius: 0 50% 50% 0;
        top: px2rem(6);
        left: px2rem(-8);
        border: solid rgba($charcoal, .4);
        border-width: 0 1px 1px 0;
      }
    }
  }
}
