$demo-action-button-width: 2rem;
$demo-action-button-height: 2.5rem;
$demo-player-prefix: 'demo-player';

.#{$demo-player-prefix} {
  margin-bottom: 1.5rem;

  audio {
    display: none;
  }

  a, button {
    &:focus {
      outline: dashed 1px rgba(white, .3);
    }
  }

  &__heading {
    margin: 0;
    padding: 0 0 0 ($demo-action-button-width - .25rem);
    font-size: px2rem(20);
    letter-spacing: 0.06em;
    transform: none;
    color: mix(white, $gold, 20%); 

  }

  &__wrapper {
    position: relative;
  }

  $demo-progress-bar-height: px2rem(6);

  &__progress {
    position: relative;
    height: $demo-progress-bar-height;
    margin-left: ($demo-action-button-width - .25rem);
    margin-top: $demo-progress-bar-height;
    margin-bottom: $demo-progress-bar-height * 2;
    margin-right: $demo-action-button-width + px2rem(10);
    background-color: #eee;
    border-radius: px2rem(3);
    overflow: hidden;
  }

  &__progressbar {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $slate-blue;
    border-radius: inherit;
    transform: translateX(-100%);
  }
  
  &__play-pause,
  &__download,
  &__download-track {
    width: $demo-action-button-width;
    height: $demo-action-button-height;
    border: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:focus {
      text-decoration: none;
    }
  }

  &__play-pause {
    display: block;
    color: $white;
    font-size: 1.5rem;
    transform: translateY(-2.25rem);
    position: absolute;
    top: 0;
    left: -.5rem;

    &:visited {
      color: $charcoal;
    }

    &:hover,
    &:focus {
      color: white;
    }

    .#{$demo-player-prefix}:not(.playing)  & {
      .pause-icon {
        display: none;
      }
    }

    .#{$demo-player-prefix}.playing  & {
      .play-icon {
        display: none;
      }
    }

    .#{$demo-player-prefix}:not(.waiting)  & {
      .loading-icon {
        display: none;
      }
    }
  }

  &__play-pause-icon {
    display: block;
    margin: 0 auto;
    width: px2rem(30);
    height: px2rem(30);
    position: absolute;
    left: ($demo-action-button-width - px2rem(30)) / 2;
    top: px2rem(7);
    
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    
    .play-icon {
      color: $charcoal;
      width: px2rem(12);
      height: px2rem(18);
      margin-top: px2rem(-9);
      margin-left: px2rem(-5); 
    }
    
    .pause-icon {
      color: $charcoal;
      width: px2rem(10);
      height: px2rem(16);
      margin-top: px2rem(-8);
      margin-left: px2rem(-5); 
    }

    .circle-icon,
    .loading-icon {
      top: 0; 
      left: 0;
      width: 100%;
      height: 100%;
    }

    .loading-icon {
      color: $slate-blue;
      animation: spin 1s linear infinite;
    }
  }


  &__download {
    position: absolute;
    font-size: px2rem(24);
    height: $demo-action-button-height + px2rem(6);
    padding-bottom: px2rem(6);
    top: 0;
    right: 0;
    transform: translateY(-$demo-action-button-height);

    svg {
      position: absolute;
      height: px2rem(30);
      width: px2rem(30);
      top: px2rem(15);
      left: ($demo-action-button-width - px2rem(30)) / 2;
    }


    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: px2rem(6);
      bottom: 0;
      border-radius: px2rem(3);
      background-color: $slate-blue;
    }
  }

  &__download-track {
    svg {
      height: px2rem(20);
      width: px2rem(20);
    }
  }

  &__download,
  &__download-track {
    border-radius: px2rem(3);
    color: $slate-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited {
      color: $slate-blue;
    }

    &:hover,
    &:focus {
      background-color: rgba(white, .2);
    }
  }

  &__tracks {
    flex: 1 0 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 ($demo-action-button-width - .25rem);
    counter-reset: demotrack;

    > li {
      display: flex;
      align-items: stretch;
    }
  }

  $track-number-width: 1.5em;

  &__track {
    cursor: pointer;
    display: block;
    font-family: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
    font-size: px2rem(15);
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: $demo-action-button-height;
    margin-top: px2rem(-1);
    border: none;
    position: relative;
    padding-left: $track-number-width;
    width: calc(100% - #{$demo-action-button-width});
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &::before {
      counter-increment: demotrack;
      content: counter(demotrack);
      font-family: sans-serif;
      float: left;
      width: $track-number-width;
      margin-left: -$track-number-width;
      padding-left: .15em;
      color: rgba(white, .5);
    }

    &:hover {
      .#{$demo-player-prefix}__track-progress {
        background-color: rgba(white, .05);
      }
    }

    .#{$demo-player-prefix}__track-progress {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }  
    .#{$demo-player-prefix}__track-progressbar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: translateX(-100%);
    }  

    &.playing,
    &.paused {
      .#{$demo-player-prefix}__track-progress {
        background-color: rgba(white, .1);
      }  
      .#{$demo-player-prefix}__track-progressbar {
        background-color: rgba(white, .1);
      }  
      &::before {
        color: white;
        font-weight: bold;
      }
    }

    &:hover::before,
    &:focus::before,
    &.paused::before {
      content: '\25b8'; //right triangle
    }

    &.playing::before {
      content: '||';
    }

    &.waiting::before {
      content: '\21e3';
    }

}
  
  &__progress-ticks {
    position: absolute;
    top: -$demo-progress-bar-height;
    left: ($demo-action-button-width - .25rem);
    right: $demo-action-button-width + px2rem(10);
    height: $demo-progress-bar-height * 4;
    display: flex;

    .#{$demo-player-prefix}:not(.paused):not(.playing) & {
      display: none;
    }

  }

  &__progress-tick {
    height: 100%;
    cursor: pointer;

    &:not(:first-child) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: $demo-progress-bar-height - px2rem(2);
        height: $demo-progress-bar-height - px2rem(2);
        border-radius: 50%;
        top: $demo-progress-bar-height + px2rem(1);
        left: -$demo-progress-bar-height  / 2;
        background-color: rgba($charcoal, .5);
      }
    }
  }
}

.raw-studio-invite {
  border-top: dashed px2rem(1) rgba($white, .5);
  font-size: .8rem;
  line-height: 3rem;
  margin: 0 1rem;
  text-align: center;

  a {
    color: mix(white, $gold, 20%); 
  }
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}
