.footer {
  .container {
    text-align: center;

    > * {
      display: block;
    }

    @media screen and (min-width: $md) {
      display: flex;
      text-align: left;

      > *:first-child + * {
        margin-left: auto;
      }

      > *:last-child {
        border-left: solid px2rem(2) #bbb;
        margin-left: .45rem;
        padding-left: .45rem;
      }
    }
  }
}