.form-field {
  margin: 0 0 1rem;
}
.form-field__label {
  display: block;
  font-size: px2rem(20);
  font-weight: bold;
  margin: 0;
}

.form-field__control {
  margin: 0;
  line-height: inherit;
  font-size: 1rem;
  font-family: inherit;
  padding: .5em;
  border: 0;
  border-radius: px2rem(2);
  background-color: #f6f6f6;
  width: 100%;
}