.tnvo-header {
  color: white;
<<<<<<< HEAD
  position: relative;
  text-align: center;
=======
  min-height: px2rem(115);
  position: relative;
>>>>>>> parent of bc496a4... Site intro work
  z-index: 1;
  
  a, a:visited {
    color:inherit
  }
  a {
    text-decoration: none;
  }
}

.tnvo-header__top {
<<<<<<< HEAD
  background-color: mix(black, $dark-blue, 50%);
  padding: px2rem(20) 0 ;
}

.tnvo-header__identity {
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-bottom: px2rem(10);
}

.tnvo-header__logo {
  display: inline-block;
  width: px2rem(36);
=======
  background-color: #321;
  padding: px2rem(10) 0 px2rem(20);

  > .container {
  background-color: fade(#210, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

// .tnvo-header__identity,
// .tnvo-header__contact {
//   display: flex;
//   justify-content: center;
//   margin-bottom: .5rem;

//   > * + * {
//     margin-left: 1em;
//     padding-left: 1em;
//     border-left: solid 1px white  
//   }
// }

.tnvo-header__identity,
.tnvo-header__contact {
  display: flex;
  justify-content: center;
}

.tnvo-header__identity {
  align-items: baseline;
  font-size: px2rem(16);
  > * + * {
    margin-left: .5em;
    padding-left: .5em;
    border-left: solid 1px white;
  }
>>>>>>> parent of bc496a4... Site intro work
}

.tnvo-header__contact { 
  > * + *:before {
    content: '\2022';
    margin: 0 .4em 0 .5em;
  }
}

<<<<<<< HEAD

.tnvo-header__menu-container {
  background-color: rgba(black, 0.7);
}

=======
.tnvo-header__whoiam {
  // font-size: px2rem(24);
  font-weight: 700;
}

.tnvo-header__whatido {
  font-size: px2rem(14);
  text-transform: uppercase;
}

.tnvo-header__contact {
  font-size: px2rem(14);
  line-height: 16 * 1.5 / 14;
}

// .tnvo-header__menu-container {
//   background-color: #434c5b;
// }

>>>>>>> parent of bc496a4... Site intro work
.tnvo-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: px2rem(16);
  // margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;

  a:not(.tnvo-header__logo) {
    border-top: solid 1px white;
    padding: 0 px2rem(10);
    letter-spacing: px2rem(.4);
    text-shadow: 0 0 px2rem(10) rgba(0,0,0,0.5);
  }
  .tnvo-header__logo {
    // display: inline-block;
    position: relative;
    top: px2rem(-10);
    height: px2rem(36);
    width: px2rem(36);
    border-radius: 50%;
    background-color: #cba;
    // padding: 0;
    // text-shadow: none;
    // margin: .25rem 0;
    // vertical-align: middle;
  }
  }
