  .tnvo-header {
    color: white;
    position: relative;
    text-align: center;
    z-index: 1;

    a, 
    a:visited {
      text-decoration: none;
      color: inherit;
    }

    &__top {
      background-color: #00121d;
      padding: 1rem 0;
    }
    
    &__identity {
      text-transform: uppercase;
      letter-spacing: .25em;
      margin-bottom: px2rem(10);
    }
    
    &__logo {
      display: inline-block;
      width: px2rem(36);
    }
    
    &__contact {
      font-size: px2rem(13);
    }
    
    &__menu-container {
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    &__menu {
      display: flex;
      justify-content: space-between;
      font-size: px2rem(13);
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
  
      a {
        letter-spacing: .25em;
        text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      }
    }

    &__social:empty {
      display: none;
    }
  }
  
  @media screen and (min-width: $xs) {
    .tnvo-header__contact > * {
      display: inline;
    }
    .tnvo-header__contact > * + *:before {
      content: '\2022';
      margin: 0 .4em 0 .5em;
    }
  }
  
  @media screen and (min-width: $sm) {
    .tnvo-header {
      &__identity {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      &__whoiam,
      &__whatido {
        width: 10em;
      }
      
      &__whoiam {
        text-align: right;
        margin-right: .5em;
      }
      
      &__whatido {
        text-align: left;
        margin-left: .75em;
      }
      
      &__logo {
        width: px2rem(48);
      }
      
      &__menu {
        font-size: px2rem(16);
      }  
    }
  }

  @media screen and (min-width: $md) {
    .tnvo-header {
      &__menu {
        font-size: px2rem(20);
      }  
    }
  }

