$header-bgcolor: mix(black, $charcoal);

.tnvo-header {
  color: $white;
  background-color: $header-bgcolor;
  position: relative;

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  &__top-hat {
    text-align: right;
    font-size: px2rem(12);
    line-height: 2;
  }

  &__contact {
    > * {
      margin: 0.5em 0;

      + *::before {
        content: "\2022";
        margin: 0 0.4em 0 0.5em;
      }
    }
  }

  &__menu-container {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;

    .container {
      margin: 0 auto;
      position: relative;
    }
  }

  &__logo {
    height: px2rem(50);
    width: px2rem(50);
    position: absolute;
    left: 1rem;
    top: px2rem(-16);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    font-size: px2rem(12);
    line-height: 2.5;
    text-align: center;
    text-transform: uppercase;

    > * + * {
      margin-left: 1em;
    }

    a,
    a:visited {
      text-decoration: none;
      color: $white;
    }

    a {
      letter-spacing: 0.25em;
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

      &:hover {
        color: $gold;
      }
    }

    @media (max-width: px2em(299)) {
      > *:first-child {
        display: none;
      }
    }

  }

  &-cap {
    // add to top of content when we don't want transparency
    border-top: solid px2rem(40) $midnight-blue;
    @media (min-width: $lg) {
      border-top-width: px2rem(68);
    }
  }

  @media (min-width: $sm) {
    &__top-hat {
      font-size: px2rem(14);
    }

    &__menu {
      font-size: px2rem(16);
    }
  }

  @media (min-width: $md) {
    &__menu {
      > * + * {
        margin-left: 2em;
      }
    }
  }

  @media (min-width: $lg) {
    &__logo {
      height: px2rem(80);
      width: px2rem(80);
      // background-color: $midnight-blue;
      border: solid px2rem(1) $white;
      border-radius: 50%;
      top: px2rem(-20);

  
      img {
        width: px2rem(60);
      }
    }
  }
}