.section-about {
  background-color: $white;
  
  .section-sub-heading {
    font-size: px2rem(14);
    text-transform: uppercase;
    line-height: normal;
  }

  .in-the-studio-list {
    list-style-type: "\2713"; //check mark
    padding-left: 1em;

    > li {
      padding-left: .5em;
    }
  }

  @media (min-width: $lg) {

    .container > * {
      margin-left: $demo-board-width + 1.5rem - $container-padding-lg + .5rem;
    }
  }

  @media (min-width: $max-container-width-em + px2em(20)) {
    .container > * {
      margin-left: $demo-board-width + 1.5rem - $container-padding-lg;
    }
  }
}