$demo-board-background: $charcoal;
$demo-board-background-offset: mix($white, $demo-board-background, 15%);
$demo-board-width: px2rem(400);

.section-demos {
  background-color: $neutral;

  &__board {
    color: $white;
    background-color: $demo-board-background;
    position: relative;
    margin: px2rem(-15) auto 0;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: px2rem(100);
      height: px2rem(100);
      background-color: $demo-board-background-offset;
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -27%);  //-27% aligns horizontal logo lines with top of board
      box-shadow: px2rem(1) px2rem(1) px2rem(10) rgba(black, 0.5);
    }
  }

  &__header {
    border-top: solid px2rem(30) $demo-board-background-offset;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: inherit;
    position: relative;
    }

  &__logo {
    position: absolute;
    display: block;
    width: px2rem(80);
    height: px2rem(80);
    background-color: $midnight-blue;
    border-radius: 50%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -57%);  //-57% aligns horizontal logo lines with top of board


    img {
      position: absolute;
      width: px2rem(60);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__heading {
    display: block;
    position: relative;
    color: mix($white, $demo-board-background, 90%);
    font-family: $coffee-label-font-family;
    font-weight: 500;
    letter-spacing: .02em;
    transform: none;
    text-transform: uppercase;
    font-size: px2rem(28);
    padding: 0;
    margin: .95rem 0 .5rem 0;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0 0 2px rgba(#000, 1);
  }

  &__demo-board-content {
    padding: 0 1rem 1px; //1px to enforce bottom margin
    position: relative;
  }


  @media (max-width: $sm - px2em(1)) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: $sm) {
    padding-bottom: 1px;

    &__board {
      border-radius: px2rem(6);
      box-shadow: px2rem(1) px2rem(3) px2rem(10) 2px rgba(black, 0.5);
      margin-bottom: 1rem;
    }
  }

  @media (min-width: px2em(660)) and (max-width: ($lg - px2em(1))) {
    .section-demos__demo-board-content {
      display: flex;
      margin-top: 1rem;

      .demo-player {
        flex: 1 1 50%;
        width: 50%;
        
        &:nth-child(odd) {
          padding-right: .5rem;
        }
        &:nth-child(even) {
          padding-left: .5rem;
        }
      }
    }
  }

  


  @media (min-width: $lg) {
    background-color: transparent;
    
    &__board {
      float: left;
      margin-top: px2rem(-15);
      margin-left: -($container-padding-lg - .5rem);
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      width: $demo-board-width;
      z-index: 1;
    }
  }

  @media (min-width: $max-container-width-em + px2em(20)) {
    &__board {
      margin-left: -$container-padding-lg;
    }
  }
}


