.section-intro {
  background-color: $dark-blue;
  background-image: url("../assets/images/coffee-bag-fp-small.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: $white;
  text-align: center;
  padding: 3rem 0 4rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title,
  &__tagline {
    color: inherit;
    font-family: $base-font-family;
    text-shadow: -1px -1px 3px rgba(#000, 1);
    transform: none;
  }

  &__title {
    font-size: px2rem(14);
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  &__tagline {
    font-family: $heading-font-family;
    font-size: calc(1.25em + (0.75 * (100vw - 20em) / 28));
    font-style: italic;
    line-height: normal;
    margin: 0;
  }

  img {
    display: block;
    margin: px2rem(30) 0;
    margin: 0 auto;
    width: px2rem(320);
  }

  @media screen and (min-width: $sm) {
    padding-top: 4rem;

    img {
      width: px2rem(360);
    }

    &__title {
      font-size: px2rem(16);
    }
  }

  @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
    background-image: url("../assets/images/coffee-bag-fp-small@2.jpg");
  }

  @media (min-resolution: 360dpi), (min-resolution: 2.25dppx), (-webkit-min-device-pixel-ratio: 2.25) {
    background-image: url("../assets/images/coffee-bag-fp-small@3.jpg");
  }

  @media (min-width: $md) {
    background-image: url("../assets/images/coffee-bag-fp.jpg");
    background-position: 50% 80%;

    @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
      background-image: url("../assets/images/coffee-bag-fp@2.jpg");
    }

    @media (min-resolution: 360dpi), (min-resolution: 2.25dppx), (-webkit-min-device-pixel-ratio: 2.25) {
      background-image: url("../assets/images/coffee-bag-fp-@3.jpg");
    }
  }

  @media (min-width: px2em(1000)) {
    background-image: url("../assets/images/coffee-bag-fp@2.jpg");

    @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
      background-image: url("../assets/images/coffee-bag-fp@3.jpg");
    }
  }
  @media (min-width: px2em(2000)) {
    background-image: url("../assets/images/coffee-bag-fp@3.jpg");
  }
}
