.section-intro {
  background-color: $brown-dark2; //$midnight-blue;
  color: white;
  height: px2rem(400px);
  max-height: 75vw;
  min-height: 35vw;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
  }

  &__title {
    color: inherit;
    font-family: $base-font-family;
    font-size: px2rem(12);
    margin: 2rem 0 0;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    visibility: hidden;

    .show-backup & {
      visibility: visible;
    }
  }

  &__tagline {
    color: inherit;
    font-family: $heading-font-family;
    font-size: calc(1.25em + (0.75 * (100vw - 20em) / 28));
    line-height: 1.25;
    margin: 0;
    max-width: none;
    position: absolute;
    left:0;
    right: 0;
    bottom: 2rem;
    text-shadow: -1px -1px 0.2em rgba(#000, 1);
    z-index: $z-index-hero;

    @media screen and (min-width: $sm) {
      bottom: 3rem;
    }

    @media screen and (min-width: $lg) {
      bottom: 4rem;
    }
  }

  img {
    display: block;
    margin: px2rem(30) 0;
    margin: 0 auto;
    width: 24vw;
    min-height: 22vw;
  }

  &__hero-image {
    background-size: cover;
    background-position: 50% 45%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("../assets/images/coffee-bag-with-mic-small.jpg");

    @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
      background-image: url("../assets/images/coffee-bag-with-mic-small@2.jpg");
    }

    @media (min-resolution: 360dpi), (min-resolution: 2.25dppx), (-webkit-min-device-pixel-ratio: 2.25) {
      background-image: url("../assets/images/coffee-bag-with-mic-small@3.jpg");
    }

    @media (min-width: $sm) {
      background-image: url("../assets/images/coffee-bag-with-mic.jpg");
      @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
        background-image: url("../assets/images/coffee-bag-with-mic@2.jpg");
      }

      @media (min-resolution: 360dpi), (min-resolution: 2.25dppx), (-webkit-min-device-pixel-ratio: 2.25) {
        background-image: url("../assets/images/coffee-bag-with-mic@3.jpg");
      }
    }

    @media (min-width: px2em(1200)) {
      background-image: url("../assets/images/coffee-bag-with-mic@2.jpg");

      @media (min-resolution: 200dpi), (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
        background-image: url("../assets/images/coffee-bag-with-mic@3.jpg");
      }
    }

    @media (min-width: px2em(2000)) {
      background-image: url("../assets/images/coffee-bag-with-mic@3.jpg");
    }
  }
}
